/* ========================================
   =========== Radio Buttons ==============
   ======================================== */

.form-radio,
.form-checkbox {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: $primary;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 3px solid $primary;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}

.form-radio {
    border-radius: 50px;
}

.form-checkbox {
    border-radius: 5px;
}
.form-radio:checked::before,
.form-checkbox:checked::before {
     position: absolute;
     font: 18px/1 'Open Sans', sans-serif;
     left: 6px;
     top: 1px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover,
.form-checkbox:hover {
     background-color: white;
}
.form-radio:checked,
.form-checkbox:checked {
     background-color: white;
}
label {
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 